.array-container {
        position: absolute;
        left: 100px;
        bottom: 10px;
}

.array-bar {
        width: 2px;
        background-color: pink;
        display: inline-block;
        margin: 0 1px;
}

.buttons {
        position: absolute;
        bottom: 5px;
        left: 35%;
}